*{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}
.navbar{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    padding: 10px;
    background-color: aqua;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    top: 0;
}
.navbar>button{
    border: none;
    background-color:orange;
    padding: 5px;
    font-weight: 600;
    color: antiquewhite;
    width: 12%;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 1000;
    font-size: 17px;
} 
.navbar>button:nth-child(2){
    background-color: midnightblue;
}
body{
    padding: 0;
    margin: 0;
}

#productDiv{
  display: grid;
  grid-template-columns:repeat(4,20%)  ;
  gap:6% 6%;
  /* border: 1px solid midnightblue; */
  width: 82%;
  justify-content: center; 
  align-items: center;
  margin: 3.5% auto;
  padding: 5% 5%;
  box-sizing: border-box;
  box-shadow: grey 0px 5px 15px;
}
#productDiv>div{
    border: 1px solid gainsboro;
    margin: auto;
    padding: 10% 15%;
}

#productDiv>div>img{
width: 150px;
height: 150px;
}

.loader {
    border: 80px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #0f3752; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #filterParentDiv{
    /* border: 1px solid black; */
    margin-top:2%;
    margin-left: 1.5%;
  }
  #filterParentDiv>select{
    padding: 10px 25px;
    font-weight: 1000;
    font-size: 16px;
    margin-right: 20px;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 5px;
  }
  #filterParentDiv>select:focus{
    outline: none;
    border: 1px solid rgb(216, 209, 209);
  }

  select {
    padding-right: 30px; 
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
}

select::after {
    content: '\25BC'; 
    font-size: 14px; 
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
}